<div class="container">
  <div class="card">
    <div class="card-header">
      <div class=" row ">
        <div class="col-md-8 d-flex justify-content-start ">
          <h5 style="text-align:center">Contacts</h5>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
          <button type="button" class="btn btn-primary" (click)="gotoAddContact()">
            Add New Contact
          </button>
        </div>
      </div>
    </div>
    <div class="card-body table-responsive">
      <div *ngIf="errorFlag" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{errorMsg}}</strong>
        <button type="button" (click)="resetErrorFlag" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="successFlag" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{successMsg}}</strong>
        <button type="button" (click)="resetSuccessFlag()" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <table id="mydatatable" class="table table-dark table-hover table-striped" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger">
        <thead class="thead-light">
          <tr>
            <th>Account Number</th>
            <th>Name</th>
            <th>Type</th>
            <th>Branch</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td>{{item?.accountNumber}}</td>
            <td>{{item?.name}}</td>
            <td>{{item?.type?.name}}</td>
            <td>{{item?.branch}}</td>
            <td>
              <button [swal]="deleteSwal" class="btn btn-danger">Delete</button>
              <swal #deleteSwal title="Confirm Delete {{item?.name}}" text="This cannot be undone!" type="question"
                [showCancelButton]="true" [focusCancel]="true" (confirm)="Delete(item)">
              </swal>
            </td>
            <td>
                <button (click)="Onselect(item)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#EditModal">
                    Details
                  </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Edit Modal -->

<div class="modal fade" id="EditModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog EditContact-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit {{model.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <form #userForm="ngForm" novalidate>
          <div class="row d-flex justify-content-center">
            <div class="col-md-6">
              <div class="form-group">
                <label>Name</label>
                <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" name="name"
                  class="form-control" [(ngModel)]="model.name">
                <div *ngIf="name.errors && (name.invalid || name.touched)">
                  <small class="text-danger" *ngIf="name.errors.required && name.touched">Name is required</small>
                </div>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="text" email required #email="ngModel" name="email" [class.is-invalid]="email.touched  && (email.errors || email.invalid)"
                  class="form-control" [(ngModel)]="model.email">
                <small class="text-danger" *ngIf="email.invalid && email.errors?.required && email.touched">Email is
                  required</small>
                <small class="text-danger" *ngIf="email.errors?.email && email.invalid && !email.errors?.required && email.touched">Email
                  is not valid</small>
              </div>
              <div class="form-group">
                <label>Phone</label>
                <input type="tel" required pattern="^\d{10}$" #phone="ngModel" [class.is-invalid]="phone.invalid && phone.touched"
                  name="phone" class="form-control" [(ngModel)]="model.phoneNumber">
                <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
                  <small class="text-danger" *ngIf="phone.errors.required && phone.touched">Phone is required</small>
                  <small class="text-danger" *ngIf="phone.errors.pattern">Phone must be 10 digits </small>
                </div>
              </div>
              <div class="form-group">
                <label>Contact Type</label>
                <select #TypeId="ngModel" selectOptionValidator="default" required [class.is-invalid]="TypeId.errors?.defaultSelected && TypeId.touched"
                  class="custom-select" name="TypeId" [(ngModel)]="model.typeId">
                  <option selected value="default">--Select Contact Type--</option>
                  <option *ngFor="let type of Types" [value]="type?.id">{{type?.name}}</option>
                </select>
                <small class="text-danger" [class.d-none]="!TypeId.errors?.defaultSelected || TypeId.untouched">Please
                  select Contact Type</small>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Bank</label>
                <select #BankId="ngModel" selectOptionValidator="default" required [class.is-invalid]="BankId.errors?.defaultSelected && BankId.touched"
                  class="custom-select" name="BankId" [(ngModel)]="model.bankId">
                  <option selected value="default">--Select Bank--</option>
                  <option *ngFor="let bank of Banks" [value]="bank?.id">{{bank?.name}}</option>
                </select>
                <small class="text-danger" [class.d-none]="!BankId.errors?.defaultSelected || BankId.untouched">Please
                  select a Bank</small>
              </div>
              <div class="form-group">
                <label>Branch</label>
                <input type="text" required #Branch="ngModel" [class.is-invalid]="Branch.invalid && Branch.touched"
                  name="Branch" class="form-control" [(ngModel)]="model.branch">
                <small class="text-danger" [class.d-none]="Branch.valid || Branch.untouched">Branch is required</small>
              </div>
              <div class="form-group">
                <label>Account Number</label>
                <input type="text" required #AccountNumber="ngModel" [class.is-invalid]="AccountNumber.invalid && AccountNumber.touched"
                  name="AccountNumber" class="form-control" [(ngModel)]="model.accountNumber">
                <small class="text-danger" [class.d-none]="AccountNumber.valid || AccountNumber.untouched">Account
                  Number is required</small>
              </div>
              <div class="form-group">
                <label>Comment</label>
                <textarea class="form-control" type="text" required #Comment="ngModel" [class.is-invalid]="Comment.invalid && Comment.touched"
                  name="Comment" [(ngModel)]="model.comment"></textarea>
                <small class="text-danger" [class.d-none]="Comment.valid || Comment.untouched">Comment is required</small>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button [disabled]="userForm.form.invalid" data-dismiss="modal" (click)="saveUpdate()" type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
